<div class="sc-container">
    <%- include header.ejs %>
    <%- include hero.ejs %>
</div>

<div class="sc-landing--fat-divider"></div>

<div class="sc-container">
    <%- include info.ejs %>
    <%- include pricing.ejs %>
    <%- include people.ejs %>
</div>

<%- include plea.ejs %>

<div class="sc-container">
    <%- include footer.ejs %>
</div>

<script src="/api/embed/T4KGZ902Y"></script>